<ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab
    icon-on="ion-ios-people"
    icon-off="ion-ios-people-outline">

    <ion-view>
    <!--<ion-nav-view></ion-nav-view>-->
      <div ng-include="'template:people'"></div>
    </ion-view>
  </ion-tab>

  <ion-tab
    icon-on="ion-ios-world"
    icon-off="ion-ios-world-outline">

    <ion-view>
    <!--<ion-nav-view></ion-nav-view>-->
      <div ng-include="'template:places'"></div>
    </ion-view>
  </ion-tab>

  <!--<ion-tab icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    <p>set</p>
  </ion-tab>-->

</ion-tabs>
